In [4]:
from pyspark import SparkContext

In [5]:
sc = SparkContext('local', 'Week1Practice')

In [15]:
arr = sc.parallelize([1, 2, 3, 4, 5, 6])

In [16]:
arr.collect()

[1, 2, 3, 4, 5, 6]

In [26]:
def square(i):
    return i**2
arr = arr.map(square)

In [27]:
arr.collect()

[1, 4, 9, 16, 25, 36]

In [28]:
arr.max()

36

In [29]:
arr.mean()

15.166666666666668

In [30]:
sc.stop()

In [32]:
from pyspark.sql import SparkSession

In [33]:
spark = SparkSession.builder.appName("Week1Practice").getOrCreate()

In [38]:
df = spark.read.csv('../../Week1/MOCK_DATA.csv', header=True, inferSchema=True)

In [40]:
df.show()

+---+----------+-----------+--------------------+-----------+---------------+
| id|first_name|  last_name|               email|     gender|     ip_address|
+---+----------+-----------+--------------------+-----------+---------------+
|  1|     Ossie|    Lamborn|olamborn0@chicago...|       Male|    50.26.66.51|
|  2|     Tonya|    Hazzard|thazzard1@canalbl...|     Female|130.135.190.120|
|  3|     Jenni| Sedgefield|jsedgefield2@ramb...|Genderqueer|  23.100.91.208|
|  4| Heriberto|    Lydford|hlydford3@reddit.com|       Male|  38.193.109.78|
|  5|   Chaddie|     Haxbie|chaxbie4@creative...|       Male|145.192.132.186|
|  6|      Toby| Strelitzer|tstrelitzer5@psu.edu|     Female| 107.100.247.36|
|  7|     Jayme|   Ferrucci|jferrucci6@statco...|   Bigender| 109.159.10.209|
|  8|   Marcile|  Jodrellec|mjodrellec7@blueh...|     Female| 248.32.122.143|
|  9|    Murray|     Sonier|     msonier8@w3.org|       Male|  118.173.57.62|
| 10|  Margette|   Christin|mchristin9@nytime...|     Female| 242.239.177.69|
| 11|    Winnie|    Leyland|  wleylanda@time.com|     Female| 155.173.28.234|
| 12|      Gabi|     Veysey|  gveyseyb@weibo.com|       Male|  57.161.139.30|
| 13|    Joanna|     Gatiss| jgatissc@meetup.com|     Female| 25.244.215.184|
| 14|    Barris|     Adicot| badicotd@utexas.edu|Genderfluid|  28.18.204.172|
| 15|     Grant|    Letford|gletforde@dailymo...|       Male|  94.28.250.104|
| 16|     Alice|    Quarles|    aquarlesf@hp.com|     Female|    3.118.202.4|
| 17| Sallyanne|McEnteggart|smcenteggartg@irs...|     Female|115.243.202.191|
| 18|   Caritta|  Willingam|cwillingamh@daily...|     Female|   42.126.24.26|
| 19|    Joanie|     Ziehms|jziehmsi@timesonl...|     Female| 211.130.40.154|
| 20|   Zsa zsa|    DeSousa|zdesousaj@network...|     Female|  246.54.170.82|
+---+----------+-----------+--------------------+-----------+---------------+
only showing top 20 rows

In [45]:
df.select('id').describe().show()

+-------+-----------------+
|summary|               id|
+-------+-----------------+
|  count|              500|
|   mean|            250.5|
| stddev|144.4818327679989|
|    min|                1|
|    max|              500|
+-------+-----------------+

In [46]:
spark.stop()