In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName("Q5").getOrCreate()

WARNING: Using incubator modules: jdk.incubator.vector
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
25/07/28 15:04:22 WARN Utils: Your hostname, dbl-23, resolves to a loopback address: 127.0.1.1; using 172.16.58.182 instead (on interface eno1)
25/07/28 15:04:22 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/07/28 15:04:22 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
25/07/28 15:04:22 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [3]:
df = spark.read.csv('MOCK_DATA.csv', header=True)

In [4]:
df.show(5)

+---+----------+----------+--------------------+-----------+---------------+
| id|first_name| last_name|               email|     gender|     ip_address|
+---+----------+----------+--------------------+-----------+---------------+
|  1|     Ossie|   Lamborn|olamborn0@chicago...|       Male|    50.26.66.51|
|  2|     Tonya|   Hazzard|thazzard1@canalbl...|     Female|130.135.190.120|
|  3|     Jenni|Sedgefield|jsedgefield2@ramb...|Genderqueer|  23.100.91.208|
|  4| Heriberto|   Lydford|hlydford3@reddit.com|       Male|  38.193.109.78|
|  5|   Chaddie|    Haxbie|chaxbie4@creative...|       Male|145.192.132.186|
+---+----------+----------+--------------------+-----------+---------------+
only showing top 5 rows

In [5]:
df.printSchema()

root
 |-- id: string (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- email: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- ip_address: string (nullable = true)

In [6]:
spark.stop()