In [16]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("L2Q1").getOrCreate()

25/07/28 16:00:51 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [17]:
df = spark.read.csv('MOCK_DATA.csv', header=True)

In [18]:
filterd_df = df.withColumn("Eligible", df.id > 80)
filterd_df.filter('id > 80').show()

+---+----------+---------+--------------------+------+---------------+--------+
| id|first_name|last_name|               email|gender|     ip_address|Eligible|
+---+----------+---------+--------------------+------+---------------+--------+
| 81|    Collin| Smithson|    csmithson28@g.co|  Male|  165.161.18.75|    true|
| 82|       Rey|    Porte|    rporte29@ftc.gov|  Male|230.249.202.138|    true|
| 83|    Lauren| Trattles|ltrattles2a@ning.com|  Male|    90.99.98.45|    true|
| 84|  Maribeth|    Korba|   mkorba2b@lulu.com|Female|   78.97.131.27|    true|
| 85|     Arlen|   Clucas|aclucas2c@redcros...|Female| 162.67.248.127|    true|
| 86|     Alvin|   Elwell|aelwell2d@wikispa...|  Male|   87.55.66.250|    true|
| 87|   Arlette|  Westcot|awestcot2e@bloglo...|Female|  182.93.44.158|    true|
| 88|     Welch|    Sarle|  wsarle2f@google.cn|  Male| 208.96.202.252|    true|
| 89|    Farlay|McLorinan|fmclorinan2g@drup...|  Male| 41.123.255.138|    true|
| 90|   Riobard|   Farish|rfarish2h@forbes.com|  Male| 73.222.245.239|    true|
| 91|    Osgood| Renforth|orenforth2i@examp...|  Male|   147.6.188.50|    true|
| 92|  Freedman|  Guittet|  fguittet2j@mit.edu|  Male| 15.224.133.125|    true|
| 93|     Davon|  Seabert|dseabert2k@networ...|  Male|  199.95.74.196|    true|
| 94|      Yuma|  Auguste|yauguste2l@wordpr...|  Male| 152.186.134.78|    true|
| 95|  Brantley|     Lusk|   blusk2m@skype.com|  Male|   38.182.40.66|    true|
| 96|   Cheston|   Heeney|   cheeney2n@msu.edu|  Male|  18.134.248.46|    true|
| 97|     Nonie|    Jorry|    njorry2o@sun.com|Female|209.109.142.212|    true|
| 98|      Tana|  Gollard|  tgollard2p@ibm.com|Female| 253.69.112.177|    true|
| 99|   Sampson|   Hobell|  shobell2q@1und1.de|  Male| 239.151.246.68|    true|
|100|       Sal|Heindrick|sheindrick2r@goda...|Female|  36.171.255.32|    true|
+---+----------+---------+--------------------+------+---------------+--------+
only showing top 20 rows

In [19]:
spark.stop()