In [10]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("L2Q3").getOrCreate()

25/07/28 16:19:34 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [11]:
df = spark.read.csv('MOCK_DATA.csv', header=True)

In [12]:
df.agg({"id":'sum'}).show()

+--------+
| sum(id)|
+--------+
|125250.0|
+--------+

In [13]:
df.agg({"id":'avg'}).show()

+-------+
|avg(id)|
+-------+
|  250.5|
+-------+

In [14]:
spark.stop()