In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('ENdSem2').getOrCreate()

WARNING: Using incubator modules: jdk.incubator.vector
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
25/10/26 19:44:52 WARN Utils: Your hostname, Karthikeya, resolves to a loopback address: 127.0.1.1; using 172.25.191.235 instead (on interface zt4homnczt)
25/10/26 19:44:52 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/10/26 19:44:52 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
df = spark.read.csv('file:///home/karthikeya/Desktop/sem5/MIT_SEM5_BDA/Week1/MOCK_DATA.csv', inferSchema=True, header=True)

In [8]:
df.filter('id < 50 and id > 30').show()

+---+----------+-----------+--------------------+-----------+---------------+
| id|first_name|  last_name|               email|     gender|     ip_address|
+---+----------+-----------+--------------------+-----------+---------------+
| 31|     Boote|       Code|  bcodeu@answers.com|       Male|   31.188.36.10|
| 32|     Mandi|     Stocks|  mstocksv@opera.com|     Female|238.146.197.156|
| 33|      Paco|   Petrillo|  ppetrillow@mlb.com|       Male| 211.214.31.172|
| 34|   Brenden|   Holhouse|  bholhousex@icq.com|       Male|  63.220.12.183|
| 35|    Damien|   Bootyman|dbootymany@sakura...|       Male|  128.92.22.237|
| 36|    Ulrich| Wrotchford|uwrotchfordz@trel...|       Male|  234.68.117.39|
| 37|   Leanora|      Bucky|lbucky10@yolasite...|Genderqueer|  97.121.206.33|
| 38|  Berkeley|     Kochel|bkochel11@amazon....|       Male| 200.219.174.12|
| 39|     Misti|     Harkin|    mharkin12@ed.gov|     Female|   88.41.138.40|
| 40|   Kerrill|   Metcalfe| kmetcalfe13@cdc.gov|     Female| 193.160.50.193|
| 41|    Stacey|    Klugman|   sklugman14@hp.com|     Female|   3.232.111.57|
| 42|   Terence|     Weetch|  tweetch15@ebay.com|       Male|   164.7.147.71|
| 43|   Katusha|   Chichgar|kchichgar16@furl.net|     Female| 120.170.48.203|
| 44|   Devonna|     Olczak|dolczak17@barnesa...|     Female| 204.42.238.187|
| 45|      Hans|    Pleavin|hpleavin18@forbes...|Genderqueer|  197.93.181.55|
| 46|   Tamqrah| Staniforth|tstaniforth19@wun...|     Female|     47.41.56.9|
| 47|       Gun|Szymanowski|gszymanowski1a@np...|       Male|  191.88.205.14|
| 48|   Roderic|    Pelchat| rpelchat1b@admin.ch|       Male|124.225.110.163|
| 49|   Murdock|     Roskam|mroskam1c@hao123.com|       Male|103.154.191.167|
+---+----------+-----------+--------------------+-----------+---------------+

In [11]:
df.filter((df.id < 20) & (df.id > 10)).show()

+---+----------+-----------+--------------------+-----------+---------------+
| id|first_name|  last_name|               email|     gender|     ip_address|
+---+----------+-----------+--------------------+-----------+---------------+
| 11|    Winnie|    Leyland|  wleylanda@time.com|     Female| 155.173.28.234|
| 12|      Gabi|     Veysey|  gveyseyb@weibo.com|       Male|  57.161.139.30|
| 13|    Joanna|     Gatiss| jgatissc@meetup.com|     Female| 25.244.215.184|
| 14|    Barris|     Adicot| badicotd@utexas.edu|Genderfluid|  28.18.204.172|
| 15|     Grant|    Letford|gletforde@dailymo...|       Male|  94.28.250.104|
| 16|     Alice|    Quarles|    aquarlesf@hp.com|     Female|    3.118.202.4|
| 17| Sallyanne|McEnteggart|smcenteggartg@irs...|     Female|115.243.202.191|
| 18|   Caritta|  Willingam|cwillingamh@daily...|     Female|   42.126.24.26|
| 19|    Joanie|     Ziehms|jziehmsi@timesonl...|     Female| 211.130.40.154|
+---+----------+-----------+--------------------+-----------+---------------+

In [14]:
df.withColumn('id', df.id + 2).show()

+---+----------+-----------+--------------------+-----------+---------------+
| id|first_name|  last_name|               email|     gender|     ip_address|
+---+----------+-----------+--------------------+-----------+---------------+
|  3|     Ossie|    Lamborn|olamborn0@chicago...|       Male|    50.26.66.51|
|  4|     Tonya|    Hazzard|thazzard1@canalbl...|     Female|130.135.190.120|
|  5|     Jenni| Sedgefield|jsedgefield2@ramb...|Genderqueer|  23.100.91.208|
|  6| Heriberto|    Lydford|hlydford3@reddit.com|       Male|  38.193.109.78|
|  7|   Chaddie|     Haxbie|chaxbie4@creative...|       Male|145.192.132.186|
|  8|      Toby| Strelitzer|tstrelitzer5@psu.edu|     Female| 107.100.247.36|
|  9|     Jayme|   Ferrucci|jferrucci6@statco...|   Bigender| 109.159.10.209|
| 10|   Marcile|  Jodrellec|mjodrellec7@blueh...|     Female| 248.32.122.143|
| 11|    Murray|     Sonier|     msonier8@w3.org|       Male|  118.173.57.62|
| 12|  Margette|   Christin|mchristin9@nytime...|     Female| 242.239.177.69|
| 13|    Winnie|    Leyland|  wleylanda@time.com|     Female| 155.173.28.234|
| 14|      Gabi|     Veysey|  gveyseyb@weibo.com|       Male|  57.161.139.30|
| 15|    Joanna|     Gatiss| jgatissc@meetup.com|     Female| 25.244.215.184|
| 16|    Barris|     Adicot| badicotd@utexas.edu|Genderfluid|  28.18.204.172|
| 17|     Grant|    Letford|gletforde@dailymo...|       Male|  94.28.250.104|
| 18|     Alice|    Quarles|    aquarlesf@hp.com|     Female|    3.118.202.4|
| 19| Sallyanne|McEnteggart|smcenteggartg@irs...|     Female|115.243.202.191|
| 20|   Caritta|  Willingam|cwillingamh@daily...|     Female|   42.126.24.26|
| 21|    Joanie|     Ziehms|jziehmsi@timesonl...|     Female| 211.130.40.154|
| 22|   Zsa zsa|    DeSousa|zdesousaj@network...|     Female|  246.54.170.82|
+---+----------+-----------+--------------------+-----------+---------------+
only showing top 20 rows

In [15]:
df.count()

500

In [17]:
df.agg({'id':'sum'}).collect()

[Row(sum(id)=125250)]

In [18]:
spark.stop()

In [19]:
from pyspark import SparkContext

In [20]:
sc = SparkContext('local', 'EndSem2')

In [40]:
txt = sc.textFile('file:///home/karthikeya/Desktop/sem5/MIT_SEM5_BDA/Week2/Q5.txt')

In [41]:
words = txt.flatMap(lambda x: list(map(str.lower, x.split())))

In [42]:
words = words.map(lambda x: (x, 1))

In [47]:
words_count = words.reduceByKey(lambda x, y: x + y)

In [48]:
words_count.collect()

[('read', 1),
 ('a', 2),
 ('.txt', 1),
 ('file', 2),
 ('into', 1),
 ('an', 1),
 ('rdd', 1),
 ('and', 3),
 ('process', 1),
 ('it', 1),
 ('to', 1),
 ('do:', 1),
 ('a.', 1),
 ('display', 4),
 ('total', 2),
 ('number', 3),
 ('of', 4),
 ('words.', 3),
 ('b.', 1),
 ('unique', 1),
 ('c.', 1),
 ('the', 9),
 ('words', 2),
 ('that', 2),
 ('begin', 1),
 ('with', 1),
 ('latter', 1),
 ("'a'.", 1),
 ('d.', 1),
 ('count', 2),
 ('frequency', 1),
 ('each', 1),
 ('word', 2),
 ('in', 2),
 ('save', 1),
 ('output', 1),
 ('separate', 1),
 ('file.', 1),
 ('e.', 1),
 ('find', 2),
 ('top', 1),
 ('5', 1),
 ('most', 1),
 ('frequent', 1),
 ('f.', 1),
 ('lowest', 1),
 ('all', 1),
 ('have', 1),
 ('this', 1),
 ('count.', 1)]

In [49]:
sc.stop()