In [1]:
from pyspark import SparkContext

In [3]:
sc = SparkContext('local', 'EndSemWeek1')

25/10/26 19:30:49 WARN SparkContext: Another SparkContext is being constructed (or threw an exception in its constructor). This may indicate an error, since only one SparkContext should be running in this JVM (see SPARK-2243). The other SparkContext was created at:
org.apache.spark.api.java.JavaSparkContext.<init>(JavaSparkContext.scala:59)
java.base/jdk.internal.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method)
java.base/jdk.internal.reflect.NativeConstructorAccessorImpl.newInstance(NativeConstructorAccessorImpl.java:77)
java.base/jdk.internal.reflect.DelegatingConstructorAccessorImpl.newInstance(DelegatingConstructorAccessorImpl.java:45)
java.base/java.lang.reflect.Constructor.newInstanceWithCaller(Constructor.java:500)
java.base/java.lang.reflect.Constructor.newInstance(Constructor.java:481)
py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:247)
py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)
py4j.Gateway.invoke(Gateway.java:238)
py4j.commands.ConstructorCommand.invokeConstructor(ConstructorCommand.java:80)
py4j.commands.ConstructorCommand.execute(ConstructorCommand.java:69)
py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:184)
py4j.ClientServerConnection.run(ClientServerConnection.java:108)
java.base/java.lang.Thread.run(Thread.java:840)

In [4]:
arr = sc.parallelize([1, 2, 3, 4, 5, 6])

In [7]:
arr = arr.map(lambda x: x**2)

In [8]:
arr.collect()

[1, 4, 9, 16, 25, 36]

In [9]:
arr.max()

36

In [10]:
arr.mean()

15.166666666666668

In [11]:
sc.stop()

In [12]:
from pyspark.sql import SparkSession

In [13]:
spark = SparkSession.builder.appName('EndSem1').getOrCreate()

In [19]:
df = spark.read.csv('file:///home/karthikeya/Desktop/sem5/MIT_SEM5_BDA/Week1/MOCK_DATA.csv', header=True, inferSchema=True)

In [20]:
df.show(5)

+---+----------+----------+--------------------+-----------+---------------+
| id|first_name| last_name|               email|     gender|     ip_address|
+---+----------+----------+--------------------+-----------+---------------+
|  1|     Ossie|   Lamborn|olamborn0@chicago...|       Male|    50.26.66.51|
|  2|     Tonya|   Hazzard|thazzard1@canalbl...|     Female|130.135.190.120|
|  3|     Jenni|Sedgefield|jsedgefield2@ramb...|Genderqueer|  23.100.91.208|
|  4| Heriberto|   Lydford|hlydford3@reddit.com|       Male|  38.193.109.78|
|  5|   Chaddie|    Haxbie|chaxbie4@creative...|       Male|145.192.132.186|
+---+----------+----------+--------------------+-----------+---------------+
only showing top 5 rows

In [21]:
df.agg({'id':'mean'}).show()

+-------+
|avg(id)|
+-------+
|  250.5|
+-------+

In [22]:
df.select('id').describe().show()

+-------+-----------------+
|summary|               id|
+-------+-----------------+
|  count|              500|
|   mean|            250.5|
| stddev|144.4818327679989|
|    min|                1|
|    max|              500|
+-------+-----------------+

In [23]:
df.describe().show()

25/10/26 19:41:43 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+-------+-----------------+----------+---------+--------------------+----------+--------------+
|summary|               id|first_name|last_name|               email|    gender|    ip_address|
+-------+-----------------+----------+---------+--------------------+----------+--------------+
|  count|              500|       500|      500|                 500|       500|           500|
|   mean|            250.5|      NULL|     NULL|                NULL|      NULL|          NULL|
| stddev|144.4818327679989|      NULL|     NULL|                NULL|      NULL|          NULL|
|    min|                1|      Abbe|     Abry|abonifazio9r@tech...|   Agender|  0.184.57.108|
|    max|              500|   Zsa zsa|   Ziehms|ztrightonaw@xinhu...|Polygender|99.158.211.248|
+-------+-----------------+----------+---------+--------------------+----------+--------------+

In [24]:
spark.stop()