In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, lower, trim, array_join
from pyspark.ml.feature import Tokenizer

In [22]:
spark = SparkSession.builder.appName('L3Q1').getOrCreate()

In [31]:
df1 = spark.read.csv('datasets/lab3_1_dataset.csv', header=True)
df2 = spark.read.csv('datasets/lab3_2_dataset.csv', header=True)
df = df1.union(df2)

In [32]:
df.show(5)

+----+--------------+--------------------+
|  id|          name|             address|
+----+--------------+--------------------+
|1859|    Nkev Koquo|1087 Uxkgk St, Zw...|
|1402| Awdeltx Flswj|1313 Bysqtepcyb S...|
|3503| Zvgk Qmnjjfub|4451 Uymmthnzp St...|
|1009|Suaxud Ybukuxq|4793 Fodikswks St...|
|2737|          NULL|                NULL|
+----+--------------+--------------------+
only showing top 5 rows

In [ ]:
df_clean = df.withColumn('name', lower(trim(col('name'))))
df_clean = df.dropna()

In [40]:
tokenizer = Tokenizer(inputCol="name", outputCol="tokens")
df_tokens = tokenizer.transform(df_clean)

In [41]:
df_tokens.show(5)

+----+---------------+--------------------+------------------+
|  id|           name|             address|            tokens|
+----+---------------+--------------------+------------------+
|1859|     Nkev Koquo|1087 Uxkgk St, Zw...|     [nkev, koquo]|
|1402|  Awdeltx Flswj|1313 Bysqtepcyb S...|  [awdeltx, flswj]|
|3503|  Zvgk Qmnjjfub|4451 Uymmthnzp St...|  [zvgk, qmnjjfub]|
|1009| Suaxud Ybukuxq|4793 Fodikswks St...| [suaxud, ybukuxq]|
| 276|Bdiolpnl Iduwpc|3640 Hrfulh St, C...|[bdiolpnl, iduwpc]|
+----+---------------+--------------------+------------------+
only showing top 5 rows

In [49]:
df_tokens = df_tokens.withColumn('tokens', array_join('tokens', ","))
df_tokens.write.csv('datasets/Tokenized.csv', header=True)

In [50]:
spark.stop()